{% extends 'base.html.twig' %}

{% block title %}New Specialite{% endblock %}

{% block body %}
    <h1>Create new Specialite</h1>

    {{ include('specialite/_form.html.twig') }}

    <a href="{{ path('specialite_index') }}">back to list</a>
{% endblock %}
